.card {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 36px;
    background-color: var(--surface-secondary);
    border-radius: 16px;
}

.title {
    font-weight: 600;
    font-size: 20px;
    color: var(--text-secondary);
}

.matches {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.match {
    border: 1px solid var(--accent-primary);
    background-color: var(--accent-secondary);
    border-radius: 8px;
    padding: 16px;
    width: 100%;
    color: var(--accent-primary);
    font-weight: 300;
    line-height: 140%;
}
